[submodule "_includes/crazyflie_demo"]
	path = _includes/crazyflie_demo
	url = https://github.com/micro-ROS/micro-ROS_crazyflie_demo
	branch = master
[submodule "_includes/sensors_demo"]
	path = _includes/sensors_demo
	url = https://github.com/micro-ROS/micro-ROS_sensors_demo
	branch = master
[submodule "_includes/openmanipulator_demo"]
	path = _includes/openmanipulator_demo
	url = https://github.com/micro-ROS/micro-ROS_openmanipulator_demo
[submodule "_includes/demobox_demo"]
	path = _includes/demobox_demo
	url = https://github.com/micro-ROS/micro-ROS_demobox_demo.git
[submodule "_includes/thumper_demo"]
	path = _includes/thumper_demo
	url = https://github.com/micro-ROS/micro-ROS_thumper_demo
