<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span><img src="{{ site.baseurl }}/img/logonav.png" alt="Logo"></span> {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.path contains '_docs/overview' %} class="active" {% endif %}><a href="{{ site.baseurl }}/docs/overview/">Overview</a></li>
                <li {% if page.path contains '_docs/concepts' %} class="active" {% endif %}><a href="{{ site.baseurl }}/docs/concepts/">Concepts</a></li>
                <li {% if page.path contains '_docs/tutorials' %} class="active" {% endif %}><a href="{{ site.baseurl }}/docs/tutorials/">Tutorials</a></li>
                <li {% if page.path contains '_docs/api' %} class="active" {% endif %}><a href="{{ site.baseurl }}/docs/api/">API</a></li>
                <li {% if page.sectionid=='posts' %} class="active" {% endif %}><a href="{{ site.posts.first.url | prepend: site.baseurl }}">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>{% include search-lunr.html %}</li>
                <li><a href="{{ site.git_address }}"><span class="fa fa-github" aria-hidden="true"></span></a></li>
            </ul>
       </div>

    </div>
</nav>
