name: CI

on:
  pull_request:
    branches:
    - master

jobs:
  Build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up Ruby 2.7
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.7.x

    - name: Install Bundler
      run: gem install bundler

    - uses: actions/cache@v1
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-
    
    - name: Bundle install
      run: |
        bundle config path vendor/bundle
        bundle install

    - name: Test web site changes
      run: ./scripts/cibuild
